body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.slider-controls button {
    width: 100px; /* Ensures buttons are the same width */
    height: 50px; /* Ensures buttons are the same height */
    padding: 10px;
    margin: 0 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center; /* Centers text within the button */
}

.slider-controls span {
    font-size: 1.5em;
    margin: 0 20px;
    min-width: 50px;
}

.timeline {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-column {
    width: 250px; /* Increased width to accommodate text */
    min-height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.5); /* 50% white */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.card-column#failed {
    border-color: #ff4c4c;
    background-color: rgba(255, 76, 76, 0.5); /* 50% red */
}

.card-column#currentPeriod  {
    border-color: #4caf50;
    background-color: rgba(76, 175, 80, 0.5); /* 50% green */
}

.card-column#completed{
    border-color: #2196f3;
    background-color: rgba(33, 150, 243, 0.5); /* 50% blue */
}

.card {
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* Ensures text wraps within the card */
}

.green-border {
    border-color: green;
}

.red-border {
    border-color: red;
}

.blue-border {
    border-color: blue;
}

.orange-border {
    border-color: orange;
}

.transparent-card {
    opacity: 0.5;
}
