$icons: (
  calendar: $fa-var-calendar,
  chalkboard: $fa-var-chalkboard,
  chart-line: $fa-var-chart-line,
  city: $fa-var-city,
  clock: $fa-var-clock,
  cogs: $fa-var-cogs,
  database: $fa-var-database,
  download: $fa-var-download,
  envelope: $fa-var-envelope,
  exclamation-triangle: $fa-var-exclamation-triangle,
  gem: $fa-var-gem,
  globe: $fa-var-globe,
  graduation-cap: $fa-var-graduation-cap,
  hamburger: $fa-var-hamburger,
  keyboard: $fa-var-keyboard,
  laptop-code: $fa-var-laptop-code,
  map-marker-alt: $fa-var-map-marker-alt,
  tag: $fa-var-tag,
  th: $fa-var-th,
  docker: $fa-var-docker,
  facebook: $fa-var-facebook,
  github: $fa-var-github,
  gitlab: $fa-var-gitlab,
  instagram: $fa-var-instagram,
  linkedin: $fa-var-linkedin,
  npm: $fa-var-npm,
  twitter: $fa-var-twitter,
  youtube: $fa-var-youtube
);

@each $name, $icon in $icons {
  .#{$fa-css-prefix}-#{$name}:before { content: fa-content($icon); }
}
