/*!
 * Font Awesome Free 6.1.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 * Copyright 2022 Fonticons, Inc.
 */
// @import 'functions';
// @import 'variables';

:root, :host {
  --#{$fa-css-prefix}-font-solid: normal 900 1em/1 "#{ $fa-style-family }";
}

@font-face {
  font-family: 'Font Awesome 6 Free';
  font-style: normal;
  font-weight: 900;
  font-display: $fa-font-display;
  src: url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
  url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype');
}

.fas,
.#{$fa-css-prefix}-solid {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}
